body {
    background: rgb(218, 18, 26);
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

h1, form, footer {
    margin: 10px auto;
}
h1, h2, h3, footer {
    text-align: center;
}
form {
    width: 50vw;
}

select {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

input {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

select option {
    color: black;
}

button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 100%;
    padding: 20px 20px;
    margin-top: 3px;
    transition-duration: 0.2s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


.mgr50 {
    margin-right: 50px;
}
.mgl50 {
    margin-left: 50px;
}